// section.layout-row.flex
// div(ng-controller='ShellCtrl').main-shell
//   md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
//     md-toolbar.md-tall.md-accent
//     md-content(layout-padding='')
