/**
 * App-wide Styles
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

 .main-shell {
   .profile-container {
     height: 100%;
     font-size: 14px;

     .profile-name {
       font-weight: 500;
     }
   }
 }

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'menuToggle/menuToggle.scss';
// endinjector

html,body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}
