md-dialog.modal-wrapper(aria-label='List dialog')
  md-dialog-content
    h2.md-title
      | Edit card
    form(name='projectForm')
      md-input-container
        label Front
        textarea(md-maxlength='140', required='', name='front', ng-model='note.front')
        div(ng-messages='projectForm.description.$error')
          div(ng-message='required') This is required.
          div(ng-message='md-maxlength') The name has to be less than 30 characters long.
      md-input-container
        label Back
        textarea(md-maxlength='140', required='', name='back', ng-model='note.back')
  .md-actions
    md-button.md-primary.cancel(ng-click='closeDialog()')
      | Cancel
    md-button.md-primary.save(ng-click='editCard()')
      | Save
