$teal: #61D5A4;
$grey: #556D76;
$light-grey: #F7F8FA;

.layout-row {
  height: 100vh;
}
md-sidenav {
  background-color:$teal;
  height: 100vh;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  background: linear-gradient($teal,rgba(97, 213, 164, 0.81)),
   url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&fm=jpg&s=a4598570a3286ea23369fdefe46953ba');
  background-size: cover;

  .md-accent{
    background-color: $teal !important;
  }

  .md-toolbar-tools {
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 130%;
      margin-left: 12px;
      color: white;
   }
  }
}

.md-toolbar-tools {
  background-color: $grey;
}

.flex-offset-92 {
  margin-left: 92%;
}

.tool-bar-button {
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 0;
}

md-content {
  background-color: $light-grey;
}

.top-nav {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.14);
  z-index: 4;
}
.cards {
  position: relative;

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    .card {
      position: absolute;
      background-color: #EDEDED;
      width: 90%;
      height: 300px;
      padding: 1.5rem;
      box-shadow: 0 1px 2px #aaa;
      background: white;
      margin: 0 1rem 1rem;
      border-radius: 3px;
      -webkit-user-select: none;
    }

    &:hover {
    cursor: pointer;
    }


  .front,.back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .front{
    background-color: white;
  }

  .back {
    background-color: white;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  .flipped .front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }

  .flipped .back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }

 }
}
