$teal: #61D5A4;
$grey: #556D76;
$light-grey: #F1F5FD;

md-sidenav {
  background-color:$teal;
  height: 100vh;

  .md-accent{
    background-color: $teal !important;
  }
}
.md-toolbar-tools {
  background-color: $grey;
}

md-content {
  background-color: $light-grey;
}
.cards {
  position: relative;

  ul{
    position: absolute;
    background-color: #E5E2E2;
    width: 200px;
    height: 300px;
    left: 50%;
  }

 li {
   position: absolute;
    background-color: #EDEDED;
    width: 200px;
    height: 300px;
    &:hover {
    cursor: pointer;
    }


  .front,.back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .front{
    background-color: #ff5078;
  }

  .back {
    background-color: #79CBC0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  .flipped .front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }

  .flipped .back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }

 }
}
