.full-height.layout.layout-row
  md-sidenav.md-sidenav-left.md-whiteframe-z2.layout(md-component-id='left',
  md-is-locked-open="sideBarLocked", md-is-open="sideBar")
    md-toolbar.sidebar-left-toolbar
     .md-toolbar-tools.layout.layout-row.layout-align-start-center
      .sidebar-left-logo
        h2.sidebar-left-title.flex Swiper
    md-content.nav-content(flex)
      ul
         li()
           p View
           h3(ng-click="listViewOn()")
             span: img(src="../../assets/iconsets/list.svg")
             | List
           h3
             span: img(src="../../assets/iconsets/card.svg")
             | Card
           h3
             span: img(src="../../assets/iconsets/grid.svg")
             | Grid
           ul()
             li()
               menu-toggle(section="decks")
  .flex.layout.layout-column
    md-toolbar.top-nav
      .md-toolbar-tools
        div(flex, class="expand", ng-if="sidebarLocked")
          md-button.tool-bar-button(ng-click="toogleSideBar()")
            md-icon(md-svg-icon="../../assets/iconsets/expand.svg")
    md-toolbar
      .md-toolbar-tools.sub-nav
        md-button
          p(ng-click="reset()") reset
        md-button
          p(ng-click="showAddDialog()") new card
    md-content.main-content.layout-padding.flex
      div(ng-if="listView")
        div(layout="row",layout-wrap)
          div(flex="100")
            .list-item(ng-repeat="note in notes")
              .front
                h3 {{ note.front }}
              .back
                h3 {{ note.back }}
      div(ng-if="cardView")
        div(layout="row",layout-sm="column")
          div(flex)
            .instructions
              div(layout)
                .left(flex)
                  p
                   span: img(src="../../assets/iconsets/swipe-left.svg")
                   | Swipe left if unsure
                .right(flex)
                  p Swipe right if sure
                   span: img(src="../../assets/iconsets/swipe-right.svg")
            .cards(id="cards")
              .card-wrapper(ng-repeat="note in notes", ng-if="!note.throwOut"
              , swipe-Item, note="note", id='note{{ $index }}')
                .card( ng-class="{'flipped' : note.clicked}")
                  .front
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-top.left
                          md-icon(md-svg-icon="../../assets/iconsets/favorite.svg")
                      div(flex="50")
                        md-button.card-top.right(ng-click="toogleFlip(note)")
                          md-icon(md-svg-icon="../../assets/iconsets/flip.svg")
                    h1 {{ note.front }}
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-bottom.left(ng-click="deleteNote(note)")
                          md-icon(md-svg-icon="../../assets/iconsets/delete.svg")
                      div(flex="50")
                        md-button.card-bottom.right(ng-click="toogleFlip(note)")
                          md-icon(md-svg-icon="../../assets/iconsets/edit.svg")
                  .back
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-top.left
                          md-icon(md-svg-icon="../../assets/iconsets/favorite.svg")
                      div(flex="50")
                        md-button.card-top.right(ng-click="toogleFlip(note)")
                          md-icon(md-svg-icon="../../assets/iconsets/flip.svg")
                    h1 {{ note.back }}
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-bottom.left(ng-click="deleteNote(note)")
                          md-icon(md-svg-icon="../../assets/iconsets/delete.svg")
                      div(flex="50")
                        md-button.card-bottom.right(ng-click="toogleFlip(note)")
                          md-icon(md-svg-icon="../../assets/iconsets/edit.svg")
          div(flex)
            div(layout="column")
              div(flex)
                .break-down(layout)
                  div(flex)
                    h1 {{ notes.length || 0 }}
                    h3 Cards
                  div(flex)
                    h1 {{ unsure.length || 0 }}
                    h3 Unsure
                  div(flex)
                    h1 {{ sure.length || 0 }}
                    h3 Sure
              div(flex)
                progress-tracker(value="sure.length + unsure.length || 0", max-value="notes.length")
