$teal: #61D5A4;
$grey: #556D76;
$light-grey: #F7F8FA;
$md-grey: #DFE5F0;
$yellow: #E2BC40;

.full-height {
  height: 100vh;
}

.modal-wrapper {
  width: 30%;
  padding: 34px;

  .md-button, md-button {
    border: 1px solid;
    height: 40px;
    line-height: 10px;
    outline: none;
  }

  .save {
    border-color: $teal;
    color: $teal !important;
  }
  .cancel {
    border-color: $grey;
    color: $grey;
  }
}

//Side nav list icon
g#Mobile-Portrait {
  //fill: white;
}

.view {
  span {
    margin-right: 15px;
  }
}

md-sidenav {
  background-color:$teal;
  height: 100vh;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);

  // background: linear-gradient($teal,rgba(97, 213, 164, 0.81)),
  //  url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&fm=jpg&s=a4598570a3286ea23369fdefe46953ba');

  background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&fm=jpg&s=a4598570a3286ea23369fdefe46953ba');
  background-size: cover;

  .md-accent{
    background-color: $teal !important;
  }

  .md-toolbar-tools {
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 130%;
      margin-left: 12px;
      color: white;
   }

  }
  ul {
    margin: 0;
    padding-left: 0;

    p {
      text-transform: uppercase;
      color: white;
      padding-left: 32px;
    }
  }

  .list-item {
    background-color: rgb(97, 213, 164);
  }
  .nav-content {
    background-color: rgba(145, 234, 196, 0.89);
  }

  .item {
    width: 100%;
    outline: none;
    margin-left: 0;
    color: white;
    h3 {
      text-align: left;
      padding-left: 30px;
    }
  }
  .sidenav-menu {
    border-radius: 0;
    color: black;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;

    .drop-down{
      margin: 0;
    }

    md-icon svg {
      fill: white;
    }

  }
}
.menu-toggle-list  {
  background-color: rgba(37, 84, 65, 0.15);
  overflow-x: hidden;
  /* overflow: hidden; */
  position: relative;
  z-index: 1;
  -webkit-transition: 0.30s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height;
  -moz-transition: 0.30s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height;
  transition: 0.30s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: height;
}

.md-toolbar-tools {
  background-color: $grey;
}

.expand {
  position: absolute;
  right: 0;
  button {
    margin-right: 0;
    height: 63px;
  }
}

.tool-bar-button {
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 0;
}

md-content {
  background-color: $light-grey;
}

.top-nav {
  z-index: 4;
}

.sub-nav {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.14);
  background-color: $md-grey;

  .md-button, md-button {
    max-width: 184px;
    border: 1px solid;
    height: 40px;
    line-height: 10px;
    outline: none;
  }
  .reset {
    border-color: $yellow;
    color: $yellow !important;
  }

  .new-card {
    border-color: $teal;
    color: $teal !important;
  }
}

md-toolbar{
  background-color: transparent;
}

.main-content {
  padding: 20px;
}

.list-item {
  background-color: white;
  box-shadow: 0 1px 2px #aaa;
  padding: 15px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
  .front {
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  }
  .front,.back {
    p {
      margin: 0;
      font-size: 66%;
      color: #869EA8;
    }
    h3 {
      margin-top: 5px;
    }
  }
  .back p {
    margin-top: 12px; 
  }
  .controlls {
    position: absolute;
    top: 0;
    right: 0px;
  }
  .menu {
    min-width: 5px;
    margin: 0;
    md-icon {
     svg path:nth-child(2) {
       fill: rgba(85, 109, 118, 0.23);
     }
   }
  }
  &:hover{
    .menu md-icon svg path:nth-child(2){
      fill: rgb(85, 109, 118);
    }
  }
}

.instructions {
  position: relative;
  height: 60px;

  .left {
    position: absolute;
    left: 0;
    md-icon {
      padding-right: 5px;
    }
  }
  .right {
    position: absolute;
    right: 0;
    md-icon {
      padding-left: 5px;
    }
  }
  p {
    font-size: 70%;
  }

  img {
    width: 25px;
  }
}

//swip icons
g#icon-19-one-finger-swipe-right, g#icon-18-one-finger-swipe-left {
  fill: #556D76;
}

.cards {
  height: 300px;
  position: relative;
  margin-bottom: 42px;

  .card {
    position: absolute;
    background-color: #EDEDED;
    width: 100%;
    height: 300px;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    border-radius: 3px;
    -webkit-user-select: none;
    font-size: 75%;
    display: block;
  }
  .card-icon {
    svg {
      fill: rgba(85, 109, 118, 0.23);
    }
  }
  .md-button:hover {
    .card-icon {
      svg {
        fill: rgb(85, 109, 118);
      }
    }
  }

  &:hover {
  cursor: pointer;
  }


  .front,.back {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    //-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    //-webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;

    h1 {
      margin-top: 50px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .controlls {
      .card-top {
        position: absolute;
        top: 0px;
        margin: 0;
        min-width: 45px;
      }

      .card-bottom {
        position: absolute;
        bottom: 0px;
        margin: 0;
        min-width: 45px;
      }
      .left {
        left: 0;
      }
      .right {
        right: 0;
      }
    }
  }

  .front{
    background-color: white;
    background-image:linear-gradient(#eee .1em, transparent .1em);
    background-image:-webkit-linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
  }

  .back {
    background-color: white;
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
  }

  .flipped .front {
    -webkit-transform:rotateY(-180deg);
            transform:rotateY(-180deg);
  }

  .flipped .back {
    //background-color: black;
    -webkit-transform:rotateY(0);
            transform:rotateY(0);
  }

}

.break-down {
  .flex {
    text-align: center;
  }
  h1 {
   margin-top: 5px;
 }
  //margin-left: 100px;
}
