.full-height.layout.layout-row
  md-sidenav.md-sidenav-left.md-whiteframe-z2.layout(md-component-id='left',
  md-is-locked-open="sideBarLocked", md-is-open="sideBar")
    md-toolbar.sidebar-left-toolbar
     .md-toolbar-tools.layout.layout-row.layout-align-start-center
      .sidebar-left-logo
        h2.sidebar-left-title.flex Swiper
    md-content.nav-content(flex)
     ul.view
       p
        | View
       md-button.item(ng-click="listViewOn()"): li
         h3
           span: md-icon(md-svg-icon="../../assets/iconsets/list.svg")
           | List
       md-button.item(ng-click="cardViewOn()"): li
         h3
           span: md-icon(md-svg-icon="../../assets/iconsets/card.svg")
           | Card
       md-button.item: li
         h3
           span: md-icon(md-svg-icon="../../assets/iconsets/grid.svg")
           | Grid
     ul()
       li()
         menu-toggle(section="decks")
  .flex.layout.layout-column
    md-toolbar.top-nav
      .md-toolbar-tools
        div(flex, class="expand",ng-click="toogleSideBar()")
          md-button.tool-bar-button
            md-icon(md-svg-icon="../../assets/iconsets/expand.svg")
    md-toolbar()
      .md-toolbar-tools.sub-nav(layout-align="end")
        md-button.reset(flex,ng-click="reset()")
          p reset
        md-button.new-card(flex,ng-click="showAddDialog($event)")
          p new card
    md-content.main-content.layout-padding.flex
      div(ng-if="listView")
        div(layout="row",layout-wrap)
          div(flex="100")
            .list-item(ng-repeat="note in notes" )
              .controlls
                md-menu
                  md-button.menu(ng-click="openListMenu($mdOpenMenu, $event)")
                    md-icon(md-svg-icon="../../assets/iconsets/more-vert.svg")
                  md-menu-content(width="4")
                    md-menu-item
                      md-button(ng-click="showEditDialog($event,note)")
                        md-icon.card-icon(md-svg-icon="../../assets/iconsets/edit.svg")
                        | Edit
                    md-menu-item
                      md-button(ng-click="deleteNote(note)")
                        md-icon.card-icon(md-svg-icon="../../assets/iconsets/delete.svg")
                        | Delete
                    md-menu-item
                      md-button
                        md-icon.card-icon(md-svg-icon="../../assets/iconsets/favorite.svg")
                        | Favorite
              .front
                p Front
                h3 {{ note.front }}
              .back
                p Back
                h3 {{ note.back }}
      div(ng-if="cardView")
        div(layout="row",layout-sm="column")
          div(flex)
            .instructions
              div(layout)
                .left(flex)
                  p
                   span: md-icon(md-svg-icon="../../assets/iconsets/swipe-left.svg")
                   | Swipe left if unsure
                .right(flex)
                  p Swipe right if sure
                   span: md-icon(md-svg-icon="../../assets/iconsets/swipe-right.svg")
            .cards(id="cards")
              .card-wrapper(ng-repeat="note in notes", ng-if="!note.throwOut"
              , swipe-Item, note="note", id='note{{ $index }}')
                .card( ng-class="{'flipped' : note.clicked}")
                  .front
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-top.left
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/favorite.svg")
                      div(flex="50")
                        md-button.card-top.right(ng-click="toogleFlip(note)")
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/flip.svg")
                    h1 {{ note.front }}
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-bottom.left(ng-click="deleteNote(note)")
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/delete.svg")
                      div(flex="50")
                        md-button.card-bottom.right(ng-click="showEditDialog($event,note)")
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/edit.svg")
                  .back
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-top.left
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/favorite.svg")
                      div(flex="50")
                        md-button.card-top.right(ng-click="toogleFlip(note)")
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/flip.svg")
                    h1 {{ note.back }}
                    .controlls(layout="row")
                      div(flex="50")
                        md-button.card-bottom.left(ng-click="deleteNote(note)")
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/delete.svg")
                      div(flex="50")
                        md-button.card-bottom.right(ng-click="showEditDialog($event,note)")
                          md-icon.card-icon(md-svg-icon="../../assets/iconsets/edit.svg")
          div(flex)
            div(layout="column")
              div(flex)
                .break-down(layout)
                  div(flex)
                    h1 {{ notes.length || 0 }}
                    h3 Cards
                  div(flex)
                    h1 {{ unsure.length || 0 }}
                    h3 Unsure
                  div(flex)
                    h1 {{ sure.length || 0 }}
                    h3 Sure
              div(flex)
                progress-tracker(value="sure.length + unsure.length || 0", max-value="notes.length")
