md-button.md-button-toggle.sidenav-menu(ng-click="toggle()")
  div(flex layout="row")
    p
      {{ section.name }}
    span(flex)
    span.md-toggle-icon(ng-class="{'toggled' : isOpen()}")
      md-icon(md-svg-src="../../../assets/iconsets/arrow-up.svg")
ul.menu-toggle-list
  li(ng-repeat="page in section.pages")
    md-button.item
      h3 {{ page.name  }}

